################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample-01/.vs
/Sample-01/Sample-01/bin/Debug/net8.0
/Sample-01/Sample-01/obj
/.vs
/src/MyApp.Application/obj
/src/MyApp.Domain/obj
/src/MyApp.Infrastructure/obj
/src/Sample01.Application/bin/Debug/net8.0
/src/Sample01.Application/obj
/src/Sample01.Domain/bin/Debug/net8.0
/src/Sample01.Domain/obj
/src/Sample01.Infrastructure/bin/Debug/net8.0
/src/Sample01.Infrastructure/obj
/src/Sample01.WebApi/bin/Debug/net8.0
/src/Sample01.WebApi/obj
/src/Tests/Sample01.Application.Test/bin/Debug/net8.0
/src/Tests/Sample01.Application.Test/obj
/src/Tests/Sample01.Domain.Test/bin/Debug/net8.0
/src/Tests/Sample01.Domain.Test/obj
/src/Tests/Sample01.Infrastructure.Test/bin/Debug/net8.0
/src/Tests/Sample01.Infrastructure.Test/obj
